.navbar {
    background-color: #060b26;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.menubar {
    color: #f5f5f5;
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}
 
.navMenu {
    background-color: #060b26;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;;
    transition: 1s;
    z-index: 100;

}
.navMenu.active {
    left: 0;
    transition: 0.8s;
}

.navText {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0 8px 16px;
    list-style: none;
    height: 60px;
}
.navText span {
    margin-left: 8px;
}
.navText a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}
.navText a:hover {
    background-color: #1a83ff;
}
.navText .active {
    background-color: #f5f5f5;
    color: black;
}
.navMenuItem {
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

.navToggle {
    background-color: #f5f5f5;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}
span {
    margin-left: 16px;
}

@media only screen and (max-width: 768px) {
    .navText {
        margin-left: 0;
    }
    .navText a {
        font-size: 12px;
        padding: 0 2px;
        height: 60px;
        width: 100%;
        margin-right: 20px;
        text-align: center;
    }

}
@media only screen  and (min-width: 769px) and (max-width: 991px) {
    .navText {
        margin-left: 0;
    }
    .navText a {
        font-size: 14px;
        padding: 0 2px;
    }

}
@media only screen and (min-width: 992px) {
    .navText {
        margin-left: 8px;
    }
    .navText a {
        width: 80%;
        font-size: 16px;
    }

}