.container {
    width: 60%;
    margin: 0 auto;
}
.title {
    text-align: center;
    margin: 20px auto;
    font-size: 40px;
    font-weight: bold;
}
.form {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 12px;
    border-radius: 12px;
  }